body {
    background-color: white;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 3px;
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgba(18, 27, 37, 0.88);
}

.p-sidebar-header {
    display: none !important;
}
.p-sidebar-mask {
    cursor: pointer;
}

.pi{
    line-height: 0 !important;
}

.dark-bg {
     background-color: #111827 !important;
    color: white;
}

button {
    border: none !important;
    box-shadow: none !important;
}

.p-dialog .p-dialog-header {
    padding: 15px !important;
}
